@using EPiServer.Core
<h1>Holy moly! It's @Response.StatusCode</h1>
<div>
    <p>
        Here is a suggestion that might cheer you up
    </p><span>Go to start page @Html.ContentLink(ContentReference.StartPage)</span>
</div>