@using EPiServer.Web.Mvc.Html

@model ITLand.Web.Models.ArticlePageViewModel

<div>
    @Html.PropertyFor(m => m.Heading)
</div>
<div>
    @Html.PropertyFor(m => m.Preamble)
</div>
<div>
    @Html.PropertyFor(m => m.MainBody)
</div>