@using EPiServer.Web.Mvc.Html

@model ITLand.Web.Features.Article.ArticlePageViewModel

<div>
	@Html.PropertyFor(model => model.Heading)
</div>
<div>
	@Html.PropertyFor(model => model.Preamble)
</div>
<div>
	@Html.PropertyFor(model => model.MainBody)
</div>