@model ITLand.Web.Models.StartPageViewModel

<h1 @Html.EditAttributes(m => m.Heading)>
    @Model.Heading
</h1>
<div>
    @Html.PropertyFor(m => m.MainBody)
</div>
<div>@Html.PropertyFor(m => m.MainContentArea)</div>